[submodule "themes/simplog"]
	path = themes/simplog
	url = https://github.com/michimani/simplog.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
